<!DOCTYPE HTML>
<html>
   <head>
      <title>Pokrocile informacne technologie</title>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
      <link rel="stylesheet" href="static/libs/jquery-ui.min.css">
      <script src="static/libs/plotly-latest.min.js"></script>
      <script src="static/libs/jquery-3.2.1.min.js"></script>
      <script src="static/libs/jquery-ui.min.js"></script>
      <script src="static/libs/gauge.min.js"></script>
      <script type="text/javascript" charset="utf-8">
         $( function() {
           $( "#tabs" ).tabs({
             event: "mouseover"
           });
         });
         $(document).ready(function() {
           var msg = undefined; 
           var xAx = new Array();
           var yAx = new Array();
           
          var gauge = new RadialGauge({
          renderTo: 'dialID',
          width: 300,
          height: 300,
          units: "voltage",
          minvalue: 0,
          maxvalue: 1,
          majorticks: [
              "0",
              "0.1",
              "0.2",
              "0.3",
              "0.4",
              "0.5",
              "0.6",
              "0.7",
              "0.8",
              "0.9",
              "1.0"
          ],
          minorticks: 2,
          stroketicks: true,
          highlights: [
              {
                  "from": 0.5,
                  "to": 1,
                  "color": "rgba(200, 100, 200, .75)"
              }
          ],
          colorplate: "#fff",
          bordershadowwidth: 0,
          borders: false,
          needletype: "arrow",
          needlewidth: 2,
          needlecirclesize: 7,
          needlecircleouter: true,
          needlecircleinner: false,
          animationduration: 1500,
          animationrule: "linear"
          });
         gauge.draw();
      
         // Define Layout
         var layout = {
           xaxis: {title: "count"},
           yaxis: {title: "voltage"},
           title: "data"
         };
      
         namespace = '/test';
         var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

         socket.on('connect', function() {
         socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

         socket.on('my_response', function(msg) {
         console.log(msg.data);
         $('#log').append('Received #'+msg.count+': '+msg.data+'<br>').html();

         var data = [{
           x: xAx,
           y: yAx,
           mode: "lines",
           type: "scatter"
         }];

         gauge.value = msg.data;

         xAx.push(parseFloat(msg.count));

         yAx.push(parseFloat(msg.data));

         Plotly.newPlot("plotdiv", data, layout);
         });

         $('form#emit').submit(function(event) {
           socket.emit('my_event', {value: $('#emit_value').val()});
           return false; });
         $('#startButton').click(function(event) {
          console.log($('#startButton').val());
          socket.emit('click_eventStart', {value: $('#startButton').val()});
          return false; });
         $('#buttonValStop').click(function(event) {
          console.log($('#buttonValStop').val());
          socket.emit('click_eventStop', {value: $('#buttonValStop').val()});
         return false; });
         $('#disconnectButton').click(function(event) {
          console.log($('#disconnectButton').val());
          socket.emit('disconnect_request');
         return false; });
         $('form#databaseID').submit(function(event) {
                  var layout = {
          title: 'Vykreslenie priebehu',
          xaxis: {
            title: 'count'
          },
          yaxis: {
            title: 'voltage'
          }
        };
                  
      var $link = "dbdata/"+$('#valueDb').val();
      
    $.ajax({
      type: "POST",
      url: $link,
      success:function(data) 
      { console.log(data);  
        data = JSON.parse(data);
        console.log(data);    
        n = Object.keys(data).length;
        console.log(n);
        
        xValues = [];
        yValues = [];
        
        for (var i=0; i< n; i++){
          xValues.push(data[i].x);
          yValues.push(data[i].y); 
       }
          
        var trace = [{
            x: xValues,
            y: yValues}];  
        
        console.log("traces", trace);
        Plotly.newPlot($('#plotDatabase')[0],trace,layout);         
      }
    }).done(function( o ) {
       // do something
    });    
    
      return false });
      
      $('form#recordFile').submit(function(event) {
                  var layout = {
          title: 'Vykreslenie priebehu',
          xaxis: {
            title: 'count'
          },
          yaxis: {
            title: 'voltage'
          }
        };
                  
      var $link = "read/"+$('#valueFile').val();
      
    $.ajax({
      type: "POST",
      url: $link,
      success:function(data) 
      { console.log(data);  
        data = JSON.parse(data);
        console.log(data);    
        n = Object.keys(data).length;
        console.log(n);
        
        valuesX = [];
        yValues = [];
        
        for (var i=0; i< n; i++){
          valuesX.push(data[i].x);
          yValues.push(data[i].y); 
       }
          
        var trace = [{
            x: valuesX,
            y: yValues}];  
        
        console.log("traces", trace);
        Plotly.newPlot($('#plotFile')[0],trace,layout);         
      }
    }).done(function( o ) {
       // do something
    });    
    
      return false });
              
         });
      </script>
   </head>
   <body style="background-color:rgb(153,255,255);">
      <h1 style="color:DarkBlue;">Final assignment</h1>

      <h2 style="color:DarkSlateGray;">Send to arduino</h2>
      <form id="emit" method="POST" action='#'>
         <input type="text" name="emit_value" id="emit_value" placeholder="add value">
         <input type="submit" value="Send">
      </form>
   
      
      <h2 style="color:DarkSlateGray;">Start, stop and disconnect regulation</h2>
      <button id="startButton" type="submit" value="send">Start</button>
      <button id="buttonValStop" type="submit" value="stop">Stop</button>
      <button id="disconnectButton" type="submit" value="disconnet">Disconnect</button>
      
      <div id="tabs">
         <ul>
            <li><a href="#tabs-1">Log</a></li>
            <li><a href="#tabs-2">Graph</a></li>
            <li><a href="#tabs-3">Dial</a></li>
            <li><a href="#tabs-4">Extract from the database</a></li>
            <li><a href="#tabs-5">Extract from the file</a></li>
         </ul>
         
         <div id="tabs-1">
            <h2>Receive:</h2>
            <div id="log"></div>
         </div>
         
         <div id="tabs-2">
            <div id="plotdiv" style="width:600px;height:250px;"></div>
         </div>
         
         <div id="tabs-3">
            <canvas id="dialID"></canvas>
         </div>
         
         <div id="tabs-4">
            <form id = "databaseID" method="POST" action='#'>
            <input type="text" name="value" id="valueDb" placeholder="write index in the database">
            <input type="submit" value="Set">
            </form>
            <div id="plotDatabase" style="width:600px;height:250px;"></div>
         </div>
         
         <div id="tabs-5">
            <form id = "recordFile" method="POST" action='#'>
            <input type="text" name="value" id="valueFile" placeholder="write the line number in the file">
            <input type="submit" value="Set">
         </form>
            <div id="plotFile" style="width:600px;height:250px;"></div>
         </div>
         
      </div>
   </body>
</html>
